<nav class="navbar">
  <div class="logo">Image Colorization</div>
</nav>

<div class="main-container">

  <div class="io-container">
    <div class="input-container">
      <h2>Upload Your File</h2>
      <input type="file" (change)="onFileSelected($event)">
      <button class="btn-upload" (click)="onUpload()">Upload</button>
    </div>
    <div class="total-container">
      <div class="input-container" *ngIf="selectedFile">
        <h2>Original Image</h2>
        <div class="image-container">
          <img [src]="originalImageSrc" alt="Original Image"/>
        </div>
      </div>
      <div class="output-container" *ngIf="outputImgSrcs">
        <h2>Processed Image</h2>
        <!-- Placeholder div since there can be multiple output images -->
        <div class="image-container" *ngFor="let outputImgSrc of outputImgSrcs">
          <img [src]="outputImgSrc" alt="Processed Image"/>
        </div>
      </div>
    </div>

  </div>

  <div *ngIf="successMessage" class="alert alert-success">
    {{ successMessage }}
  </div>
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

</div>
